/* CSS
Stands for Cascading Style Sheet
Will go from least to most specific when determining style for
    each particular element.
If an element has a specific id attached to it, it has higher priority
    than the tag name

    CSS syntax:
        [selector][curly brace][key-value pair][semicolon][end curly brace]

When we want to grab elements by the tag name:
    p{},h1{},h2{},li{},...etc.

When we select by class name
    Use the '.'
    .classname{}

When we select by id:
    #idname
*/

/* we can select elements by tag name */
p {
  color: red;
}
#h1 {
  color: blue;
}
.myPar {
  color: blue;
}
#myId {
  color: saddlebrown;
}
.myDiv {
  background-color: skyblue;
}
#row1 {
  border-color: blueviolet;
}
#row2,
#row3 {
  border-color: brown;
}
table {
  border-color: darkcyan;
  padding: 100px;
  margin: 75px;
  border-width: 50px;
  border-style: ridge;
}
/* this is a nested selector

this way, we can select certain elements only if they have a specific 
parent element

this will also be referred to as child selectors
 */

ol > li {
  color: darkred;
}
body {
    background-image: url('http://svite-league-apps-content.s3.amazonaws.com/bgimages/sports-wave.jpg');
}
